<style amp-custom='amp-custom'>
/*<![CDATA[*/
.main-menu ul li,.page-menu ul li,.sos-profil ul,.tool-menu,.tool-menu li,.tool-menu ul{list-style:none}
a:link,a:visited{color:#c10e0e;text-decoration:none}
#header h1 a,#header p a,.descriptionwrapper,.post h1,.post h2,.post-body,body,p.description span{font-family:Roboto,Arial,sans-serif}
#header p a:hover,a:hover,a:link,a:visited{text-decoration:none}
#judulblog,.content-wrapper,.main-menu ul li,.page-menu ul li,a:link,.btn{transition:all .4s ease-in-out}
#main-wrapper,.credit,.main-menu{overflow:hidden}
#judul-post{border-bottom:1px solid #ddd}
#main-wrapper,i.klik-url{word-wrap:break-word}
#header,#judulblog,#search-box,.content-wrapper{position:relative}
#navbar-iframe,.post-comment-link{visibility:hidden}
#navbar-iframe{height:0;display:none}
body{background:#e9eaed;color:#141924;font-size:100%;text-align:left;margin:0}
a:hover{color:red}
a:active,a:focus,i:active,i:focus{outline:0}
a img{border-width:0}
b{font-weight:500}
#header-wrapper{width:145px;height:auto;margin:-3px 10px 0 0;padding:0;float:left;display:inline}
#header{width:auto;margin:0;padding:0;z-index:1;line-height:3em}
#header-inner{background-position:center;margin:0;padding:0;display:block}
#header h1 a,#header p a{font-size:18px;font-weight:900;color:#ffffff;padding:0;margin:0}
#header h1{margin:0}
#header p a:hover{color:#f07468}
.titlewrapper{height:40px}
.descriptionwrapper,p.description span{position:fixed;top:-1000px;left:-1000px}
.creditpic,.postmeta,h3.date-header{position:relative}
#header h1 amp-img,#header p amp-img{width:15px;height:15px;vertical-align:-3%}
.bungkus-judulblog{background:#303840;margin:0 auto;padding:0;width:100%;height:auto;border-top:2px solid #c10e0e;border-bottom:1px solid #3a4959;position:fixed;top:0;left:0;z-index:10000}
#judulblog{padding:0;margin:0;width:100%}
#outer-wrapper{background:#fff;width:auto;text-align:left;margin:0;padding:0;border:1px solid #dedede;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-sizing:border-box;box-sizing:border-box}
#outer-wrapper,.search-form{-webkit-box-sizing:border-box}
.home-wrapper{width:100%;max-width:1400px;margin:0 auto;overflow:hidden;}
.content-wrapper{width:100%;max-width:1400px;margin:0 auto;}
#outer-wrapper{margin:0 -10px 0 0;background:none;border:none;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
#main-wrapper{position:relative;padding-right:10px;padding-bottom:65px;margin:0;width:100%;float:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-column-width:270px;-webkit-column-width:270px;column-width:270px;-moz-column-gap:10px;-webkit-column-gap:10px;column-gap:10px;}
#judul-post{background:#fff;margin:0;padding:10px 0;height:auto}
.post{position:relative;margin-bottom:7px;height:auto;width:100%;display:inline-block;overflow:hidden;transition:all .4s ease-out;background:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.post-outerwrapper{background:#fff;border:1px solid #dedede;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;overflow:hidden;transition: all 0.5s ease;float:left;}
.post-outerwrapper:hover,.ads-blog:hover{border:1px solid #ccc;}
.post .post-body h2{font-size:140%;font-weight:500;line-height:1.4em}
.post h2{margin:0;padding:0}
.post h2 a{font-size:18px;font-weight:500;line-height:1.2em;color:#141924;margin:10px 20px 0;padding:0}
.post h2 a,.post h2 a:visited,.post h2 strong{display:block;text-decoration:none;color:#141924}
.post h2 a:hover,.post h2 strong{color:#c10e0e}
::selection{background:#c10e0e;color:#fff}
.post-body{margin:10px 0;padding:0 20px;line-height:1.3em;font-size:16px;font-weight:300}
._post-thumbnail-area{overflow:hidden;padding:0;margin:0}
._post-thumbnail-area amp-img{width:100%;height:auto;margin:0;padding:0;border:none;outline:0;}
.post:hover h2 a{color:#c10e0e}
.author,.postmeta,h3.date-header{color:#999}
.postmeta{background:#eee;font-size:12px;font-weight:300;padding:5px 20px;margin:10px 0 0 0;line-height:1.3em;border-top:solid 1px #dedede;border-bottom:0;border-left:0;border-right:0;position:relative}
.author{padding:2px 5px 2px 0}
.author a,.clock a,.comment a,.postmeta a{font-size:12px;color:#999;font-weight:300}
.author a:hover,.clock a:hover,.comment a:hover,.postmeta a:hover{color:#c10e0e}
amp-img.authorphoto{padding:0;width:16px;height:16px;border-radius:100%;vertical-align:middle;margin-right:0}
h3.date-header{font-size:12px;line-height:1.3em;margin:0}
.updated{border-bottom:0}
.clock svg{width:14px;height:14px;vertical-align:-2px}
.clock svg path{fill:#999}

.credit,.main-menu ul li a{font-family:Roboto,Arial,sans-serif}
.main-menu ul li,.page-menu ul li{display:inline-block}
.main-menu,.main-menu ul,.sos-profil li{display:inline-block}
.sos-profil{float:right;margin:0 35px 0 0;}
.sos-profil ul{padding:0;margin:0}
.sos-profil li{float:right;margin-right:2px}
.sos-profil svg{width:32px;height:32px}
.main-menu svg{width:20px;height:20px;vertical-align:-5px}
.menu-wrapper{background:#fff;width:auto;height:47px;padding:0;margin:53px auto 0;border-bottom:1px solid #dedede}
.main-menu,.main-menu ul{padding:0}
.main-menu{width:auto;height:auto;margin:0;font-size:16px;float:left}
.main-menu ul{margin:0 auto;line-height:2.8em}
.main-menu ul li a{color:#141924;padding:0;margin:0 auto;font-size:16px;font-weight:500;height:44px;line-height:44px}
.page-menu ul li a,.page-menu ul li a span{font-family:Roboto,sans-serif}
.main-menu ul li:first-child{margin-left:0}
.main-menu ul li{margin:0 15px}
.main-menu ul li span i{vertical-align:middle}
.page-menu{float:left;width:auto;height:auto;padding:0;margin:0}
.page-menu ul{margin:0 auto;padding:0;line-height:3em}
.page-menu ul li{padding-top:2px}
.main-menu ul li a:hover,.page-menu ul li a:hover{color:#c10e0e}
.page-menu ul li a{color:#ffffff;padding:0 20px 0 0;font-size:16px;font-weight:500}
#footer-wrapper,.creditpic{width:100%}
#footer-wrapper{background:#303840;margin-top:30px}
.footer1{width:40%;padding:30px 30px 10px 0;display:inline;float:left;color:#ccc;font-size:14px;font-weight:300;line-height:1.6em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:left}
.footer2,.footer3,.footer4{width:20%;padding:30px 0 10px 30px;display:inline;float:left;color:#ccc;font-size:14px;font-weight:300;line-height:1.6em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:left}
.footer1 h2,.footer2 h2,.footer3 h2,.footer4 h2{font-size:16px;font-weight:700;color:#fefefe;margin:0}
.footer1 a,.footer2 a,.footer3 a,.footer4 a{font-weight:300;color:#ccc;}
.footer1 a:hover,.footer2 a:hover,.footer3 a:hover,.footer4 a:hover{color:#fefefe;}
.footer1 ul,.footer2 ul,.footer3 ul,.footer4 ul{list-style:none;padding:0;margin:5px 0}
#footer-wrapper p{margin:0}
.footer1 .logo-footer{clear:both;text-align:left;display:block}
.footer1 .logo-footer img{margin-left:-6px}
.footer1 .logo-footer img:hover{-webkit-animation:flash 1s linear 1s infinite normal;animation:flash 1s linear 1s infinite normal}
@-webkit-keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
@keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
.creditpic{background:#1e252c;margin-top:10px;padding:20px 0}
.credit{line-height:2.3em;font-size:12px;font-weight:300;color:#ccc;clear:both;margin:0 auto;padding:0;text-align:left}
.credit a:link,.credit a:visited{color:#ccc;text-decoration:none}
.credit a:hover{color:#c10e0e;text-decoration:none}

.clear{clear:both;display:block}
p.att-javascript{font-size:150%;text-align:center}
.iklan-head{margin:20px auto;padding:0;text-align:center;width:100%}
.cookie-choices-info{border-bottom:1px solid #333;color:#555;z-index:1000000;background-color:#fff;border-top:1px solid #dedede;padding:3px 0;bottom:0;top:inherit}
.cookie-choices-info .cookie-choices-text{font-size:17px;color:#666;font-family:"Helvetica Neue Light",HelveticaNeue-Light,"Helvetica Neue",Calibri,Helvetica,Arial}
.cookie-choices-info .cookie-choices-button{background-color:#adbcc5;border-radius:5px;padding:5px 12px;text-transform:none;color:#000;transition:all .2s linear}
.cookie-choices-info .cookie-choices-button:nth-child(2){background-color:#f1d600}
.cookie-choices-info .cookie-choices-button:hover,.cookie-choices-info .cookie-choices-button:nth-child(2):hover{background-color:#e9eef0}
.main-menu-mobile ul li:first-child{border-top:none}
.main-menu-mobile ul li a:hover{color:#c10e0e}
.main-menu-mobile ul li{list-style:none;display:block;transition:all .4s ease-in-out;text-align:left;border-top:solid 1px #dedede}
.menu-wrapper-mobile{background:#fff;width:auto;padding:0 0 16px;margin:10px auto 0;border-top:1px solid #dedede;}
.main-menu-mobile,.main-menu-mobile ul{padding:0}
.main-menu-mobile{width:auto;height:auto;margin:0;font-size:16px;overflow:hidden;text-align:center}
#mobile-menu{display:none}
.main-menu-mobile ul{margin:0 auto;line-height:2.8em}
.main-menu-mobile ul li a{color:#141924;padding:0 15px;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:500}
.menu,.mobile-menu-ikon{font-size:30px;cursor:pointer}
.mobile-menu-wrapper{display:none;visibility:hidden;margin:-5px 30px 0}

.main-menu ul li,.search-wrapper{position:relative}
.search-wrapper{float:right;display:inline;padding:0;margin-top:8px}
#search-box{position:absolute;right:0;top:-8px;padding:10px 0;background:#303840;}
#search-box form{position:relative}
#search-box .search-form:hover,#search-box .search-form:focus{background:#181b1d;outline:0;box-shadow:0 2px 7px rgba(0,0,0,.45);width:300px;padding:0 30px;}
#search-box .search-form{background:#181b1d;border:1px solid transparent;color:#ffffff;width:0;padding:0 10px 0 20px;height:26.67px;line-height:26.67px;font-family:Roboto,sans-serif;font-size:16px;font-weight:500;margin:0;border-radius:3px;transition: all 0.5s ease-in-out;}
#search-box .search-form{background-image:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:white' d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");background-repeat:no-repeat;background-size:20px 20px;background-position:5px 3px}
#search-box .search-form:focus,#search-box .search-form:hover{background-image:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:gray' d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");background-repeat:no-repeat;background-size:20px 20px;background-position:5px 3px}
.resetbutton{background:0 0;border:none;position:absolute;top:4px;right:5px;padding:0;cursor:pointer;line-height:1;transition:all .4s ease-in-out;z-index:999}
.resetbutton svg{width:18px;height:18px;vertical-align:middle}
.resetbutton:focus{outline:0}
#search-box .search-form:not(:valid)~.resetbutton{display:none}

.overlay,.tool-menu{display:none}
.main-menu ul li:before{content:'';height:4px;width:0;position:absolute;top:0;left:0;background:#c10e0e;transition:all .4s ease-out}
.main-menu ul li:hover:before{width:100%}
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes slideInUp{0%{-webkit-transform:translateY(100%);transform:translateY(100%);visibility:visible}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slideInUp{0%{-webkit-transform:translateY(100%);transform:translateY(100%);visibility:visible}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}

.menu-tool{position:relative;float:right;width:auto;height:auto}
.menu-toolikon{width:220px;cursor:pointer;margin:8px -10px 0 0;text-align:right;background:none;border:none;padding-right:0}
.menu-toolikon svg{width:30px;height:30px}
.menu-toolikon .show-less svg{width:22px;height:22px;margin-top:5px}
.menu-tool section:not([expanded]) .show-less,.menu-tool section[expanded] .show-more{display:none}
.menu-tool section{position:absolute;top:0;right:0}
.tool-menu{background-color:#fff;border-radius:2px;box-shadow:0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);color:#757575;cursor:default;padding:0 0 15px;margin:0;min-width:220px;outline:0;position:absolute;top:8px;right:0;text-align:left;white-space:nowrap;z-index:100000}
.tool-menu ul{margin:0;padding:0}
.tool-menu li a,.tool-menu li span{text-decoration:none;color:#141924}
.tool-menu li a:hover{color:#c10e0e}
.tool-menu li{padding:10px 10px 5px}
.tool-menu li:first-child{padding:10px;margin-bottom:5px;border-bottom:1px solid #dedede}

.ads-blog{text-align:center;background:#fff;border:1px solid #dedede;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;overflow:hidden}
.ads-blog img{margin:0 auto 20px;display:block}
.ads-blog span{font-size:16px;font-weight:500;display:block;margin:10px 0}
#main{padding-bottom:75px;margin-bottom:20px}
.post h1 a,.post h2 a,.postmeta{font-family:Roboto,Arial,sans-serif}
a.blog-pager-newer-link,a.blog-pager-older-link,.home-box,a.home-link{padding:0;line-height:45px;position:absolute;width:43px;height:43px;text-align:center}

#sidebar-kanan{display:none;visibility:hidden;height:0}
#blog-pager-newer-link{float:left;}
#blog-pager-older-link{float:right;}
#blog-pager,.blog-pager{clear:both;text-align:center}
#blog-pager-newer-link a,#blog-pager-older-link a,a.home-link{color:#141924;transition:all .4s ease-in-out}
#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover,a.home-link:hover{color:#c10e0e}
.blog-pager svg {width:24px;height:24px;vertical-align:-5px}
.feed-links{clear:both;line-height:2.5em}
#blog-pager,.blog-pager{position:absolute;width:200px;bottom:0;left:50%;margin-left:-100px;}
#blog-pager-home-link a.home-link,a.blog-pager-newer-link,a.blog-pager-older-link{background:#fff;border:1px solid #dedede;color:#141924;transition:all .4s ease-in-out;bottom:0}
a.blog-pager-older-link{border-radius:3px;right:20px}
a.blog-pager-newer-link{border-radius:3px;left:0;z-index:2}
#blog-pager-home-link a.home-link{border-radius:3px;left:50%;margin-left:-32px}
#blog-pager-home-link a.home-link:hover,#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{color:#c10e0e;border:1px solid rgba(232,85,78,1)}
#sidebar-wrapper{display:none}
.home-box{background:#fff;color:#888;border:1px solid #dedede;border-radius:3px;bottom:0;left:0;z-index:1}
.home-box svg path{fill:#888;}

.status-msg-wrap{font-size:100%;width:100%;margin:0 0 30px;padding:0 30px;position:fixed;top:-1000px;left:-1000px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.status-msg-border{border:1px solid #000;opacity:.4;width:100%;position:relative;box-sizing:border-box}
.iklan-head,.status-msg-border{-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.status-msg-bg{background-color:#ccc;opacity:.8;width:100%;position:relative;z-index:1}
.status-msg-body{text-align:center;padding:.3em 0;width:100%;position:absolute;z-index:4}
.status-msg-hidden{visibility:hidden;padding:.3em 0}
.status-msg-wrap a{padding-left:.4em}

.iklan-head{margin:10px 0 0;padding:0;box-sizing:border-box}
.creditpic,.credit{text-align:center}

.PopularPosts{background:#fff;padding:10px 30px 30px;margin-top:30px}
.PopularPosts img{width:280px;height:180px;}
.PopularPosts h2{position:relative;overflow:hidden;margin:0 0 10px}
.PopularPosts h2 div{padding:0 10px 0 0;display:inline;float:left;}
.PopularPosts h2:after{content:'';display:inline-block;float:left;position:absolute;top:0;height:15px;margin:8px 0 0 0;width:100%;background:url(http://4.bp.blogspot.com/-R2WTW6O9E1o/VX7dqIGT1eI/AAAAAAAACc4/pyvQDMMLX3E/s1600/repeat-bg.png);opacity:.9;}

#error-page .large-heading,#error-page .light-heading,#error-page .three{text-align:center}
#error-page .large-heading{font-size:16rem;color:rgba(0,0,0,.3);font-weight:900;width:100%;margin-top:50px;-webkit-filter:blur(3px);filter:blur(3px)}
#error-page .light-heading{font-size:2rem;color:rgba(0,0,0,.6);font-weight:700}
#error-page .fixed{position:fixed;font-size:2rem;color:rgba(0,0,0,.6);z-index:9999;width:500px;bottom:50px;left:calc(50% - 250px);text-align:center}
#error-page .fixed a {border:4px solid #fff;border-radius:10px;padding:5px 16px;transition:all 400ms ease-in-out}
#error-page .fixed a:hover {background: #fff;}
#error-page .three{font-family:Georgia,serif;font-size:300%;font-style:italic;margin-top:100px;color:rgba(0,0,0,.3);}
#error-page .large-heading,#error-page .three,.light-heading{-webkit-animation:funnytext 4s ease-in-out infinite;animation:funnytext 4s ease-in-out infinite}
#error-page svg{width:16rem;height:16rem;vertical-align:-40px}
#error-page svg path{fill:rgba(0,0,0,.3)}
@-webkit-keyframes funnytext{0%,100%{color:rgba(0,0,0,.3);-webkit-filter:blur(3px)}
30%{color:rgba(0,0,0,.5);-webkit-filter:blur(1px)}
65%{color:rgba(0,0,0,.2);-webkit-filter:blur(5px)}
}
@keyframes funnytext{0%,100%{color:rgba(0,0,0,.3);filter:blur(3px)}
30%{color:rgba(0,0,0,.5);filter:blur(1px)}
65%{color:rgba(0,0,0,.2);filter:blur(5px)}
}

@media screen and (max-width:1366px){.home-wrapper,.content-wrapper{max-width:1300px;}
}
@media screen and (max-width:1280px){.home-wrapper,.content-wrapper{max-width:1240px;}
}
@media screen and (max-width:1024px){.home-wrapper{padding:0 10px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.post h1 a,.post h2 a{font-size:20px;font-weight:500}
.adhome{margin:0 0 0 10px}
.main-menu{margin:0}
.bungkus-judulblog,.menu-wrapper{padding:0 10px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.creditpic{padding:20px 20px 30px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
#footer-wrapper .content-wrapper{padding:0 10px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
}
@media screen and (max-width:800px){#header-wrapper{text-align:center}
.page-menu{width:100%;margin:20px 0 10px}
.page-menu ul{line-height:1.3em;}
.page-menu ul li{width:33.3%;float:left;text-align:center}
#header-wrapper{width:100%;float:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:20px 0 10px}
.page-menu ul li a{margin:0 auto;padding:0}
.bungkus-judulblog{position:relative}
.mobile-hide,.search-wrapper,.sos-profil{display:none}
.mobile-menu-wrapper{display:block;visibility:visible;text-align:right}
#footer-wrapper .content-wrapper{padding:0 15px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:20px 0 10px}
.footer1,.footer2,.footer3,.footer4{width:100%;padding:15px 0;display:block;float:none;}
.PopularPosts{padding:10px 20px 20px;}
}
@media screen and (max-width:414px){
.post{width:100%;padding-right:0}
.post h1,.post h2,.postmeta,.summary{text-align:left}
.main{position:relative}
.adhome{margin:0 5px 0 10px}
.footer1,.footer2,.footer3,.footer4{display:none;}
.PopularPosts{padding:10px}
}
@media screen and (max-width:320px){.post h1,.post h2{font-size:16px}
.page-menu ul li{width:50%}
}
@media print{#blog-pager,#comments,#css-menu,#footer-wrapper,#sidebar-kanan,.blog-pager,.blogger-bar,.blogger-box,.breadcrumbs,.bungkus-judulblog,.comment-text,.disqus-bar,.disqus-box,.don-share,.donate,.facebook-bar,.facebook-box,.halaman,.iklan-kecilatas,.threecilix_info2,.link-bawahpost,.loading-shorturl,.menu-wrapper,.onpost,.postmeta,.related-post,.sharetitle,.shorturls,.underpost,h3.date-header{display:none}
#main-wrapper{width:100%;margin:0;padding:0;border:0}
.post-body{padding:0}
}
/*]]>*/
</style>
