<style amp-custom='amp-custom'>
/*<![CDATA[*/
.main-menu ul li,.page-menu ul li,.sos-profil ul,.tool-menu,.tool-menu li,.tool-menu ul{list-style:none}
a:link,a:visited{color:#c10e0e;text-decoration:none}
#header h1 a,#header p a,.descriptionwrapper,.post h1,.post h2,.post-body,body,p.description span{font-family:Roboto,Arial,sans-serif}
#header p a:hover,a:hover,a:link,a:visited{text-decoration:none}
#judulblog,.content-wrapper,.main-menu ul li,.page-menu ul li,a:link,.btn{transition:all .4s ease-in-out}
#main-wrapper,.credit,.main-menu{overflow:hidden}
#main-wrapper{word-wrap:break-word}
#header,#judulblog,#search-box,.content-wrapper{position:relative}
#navbar-iframe{visibility:hidden;height:0;display:none}
body{background:#e9eaed;color:#141924;font-size:100%;text-align:left;margin:0}
a:hover{color:red}
a:active,a:focus,i:active,i:focus{outline:0}
a img{border-width:0}
b{font-weight:500}
#header-wrapper{width:145px;height:47px;margin:-3px 10px 0 0;padding:0;float:left;display:inline}
#header{width:auto;margin:0;padding:0;z-index:1;line-height:3em}
#header-inner{background-position:center;margin:0;padding:0;display:block}
#header h1 a,#header p a{font-size:18px;font-weight:900;color:#ffffff;padding:0;margin:0}
#header h1{margin:0}
#header p a:hover{color:#f07468}
.titlewrapper{height:30px}
.titlewrapper p{margin:0;}
.descriptionwrapper,p.description span{}
.creditpic,.postmeta,h3.date-header{position:relative}
#header h1 amp-img,#header p amp-img{width:15px;height:15px;vertical-align:-3%}
.bungkus-judulblog{background:#303840;margin:0 auto;padding:0;width:100%;height:auto;border-top:2px solid #c10e0e;border-bottom:1px solid #3a4959;position:fixed;top:0;left:0;z-index:10000}
#judulblog{padding:0;margin:0;width:100%}
#outer-wrapper{background:#fff;width:auto;text-align:left;margin:0;padding:0;border:1px solid #dedede;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-sizing:border-box;box-sizing:border-box}
#outer-wrapper,.search-form{-webkit-box-sizing:border-box}
.home-wrapper{width:100%;max-width:1100px;margin:0 auto;padding:0;-moz-box-sizing:border-box;box-sizing:border-box}
.content-wrapper{width:100%;max-width:1100px;margin:0 auto;}

#outer-wrapper,.search-form{-webkit-box-sizing:border-box}
#main-wrapper{width:100%;float:left;margin:0;padding:0}

.post-body{margin:1em 0 .65em;font-size:18px;font-weight:300;line-height:1.6em;padding:0;color:#444}
::selection{background:#c10e0e;color:#fff}
.feed-links{clear:both;line-height:2.5em}
.post-body .justify{text-align: justify;}

.main-menu ul li,.page-menu ul li{display:inline-block}
.main-menu,.main-menu ul,.sos-profil li{display:inline-block}
.sos-profil{float:right;margin:0 35px 0 0;}
.sos-profil ul{padding:0;margin:0}
.sos-profil li{float:right;margin-right:2px}
.sos-profil svg{width:32px;height:32px}
.main-menu svg{width:20px;height:20px;vertical-align:-5px}
.menu-wrapper{background:#fff;width:auto;height:47px;padding:0;margin:53px auto 0;border-bottom:1px solid #dedede}
.main-menu,.main-menu ul{padding:0}
.main-menu{width:auto;height:auto;margin:0;font-size:16px;float:left}
.main-menu ul{margin:0 auto;line-height:2.8em}
.main-menu ul li a{color:#141924;padding:0;margin:0 auto;font-size:16px;font-weight:500;height:44px;line-height:44px}
.page-menu ul li a,.page-menu ul li a span{font-family:Roboto,sans-serif}
.main-menu ul li:first-child{margin-left:0}
.main-menu ul li{margin:0 15px}
.main-menu ul li span i{vertical-align:middle}
.page-menu{float:left;width:auto;height:auto;padding:0;margin:0}
.page-menu ul{margin:0 auto;padding:0;line-height:3em}
.page-menu ul li{padding-top:2px}
.main-menu ul li a:hover,.page-menu ul li a:hover{color:#c10e0e}
.page-menu ul li a{color:#ffffff;padding:0 20px 0 0;font-size:16px;font-weight:500}

#footer-wrapper,.creditpic{width:100%}
#footer-wrapper{background:#303840;margin-top:30px}
.footer1{width:40%;padding:30px 30px 10px 0;display:inline;float:left;color:#ccc;font-size:14px;font-weight:300;line-height:1.6em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:left}
.footer2,.footer3,.footer4{width:20%;padding:30px 0 10px 30px;display:inline;float:left;color:#ccc;font-size:14px;font-weight:300;line-height:1.6em;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:left}
.footer1 h2,.footer2 h2,.footer3 h2,.footer4 h2{font-size:16px;font-weight:700;color:#fefefe;margin:0}
.footer1 a,.footer2 a,.footer3 a,.footer4 a{font-weight:300;color:#ccc;}
.footer1 a:hover,.footer2 a:hover,.footer3 a:hover,.footer4 a:hover{color:#fefefe;}
.footer1 ul,.footer2 ul,.footer3 ul,.footer4 ul{list-style:none;padding:0;margin:5px 0}
#footer-wrapper p{margin:0}
.footer1 .logo-footer{clear:both;text-align:left;display:block}
.footer1 .logo-footer img{margin-left:-6px}
.footer1 .logo-footer img:hover{-webkit-animation:flash 1s linear 1s infinite normal;animation:flash 1s linear 1s infinite normal}
@-webkit-keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
@keyframes flash{0%,100%,50%{opacity:1}
25%,75%{opacity:0}
}
.creditpic{background:#1e252c;margin-top:10px;padding:20px 0}
.credit{line-height:2.3em;font-size:12px;font-weight:300;color:#ccc;clear:both;margin:0 auto;padding:0;text-align:left}
.credit a:link,.credit a:visited{color:#ccc;text-decoration:none}
.credit a:hover{color:#c10e0e;text-decoration:none}

.postmeta,h3.date-header{font-size:13px;line-height:1.3em}
.author a,.clock a,.comment a,.postmeta a,h3.date-header{font-weight:300;color:#999}
.author,.postmeta{color:#999}
.breadcrumbs,.postmeta,h3.date-header{font-family:Roboto,Arial,sans-serif}
h3.date-header{margin:0}
.postmeta{position:absolute;top:0;left:30px;color:#333;font-weight:300;padding:0;margin:0}
.author{padding:2px 5px 2px 0}
.clock{padding:8px 5px 2px 0}
.author a:hover,.clock a:hover,.comment a:hover,.postmeta a:hover{color:#c10e0e}
.clock{color:#999}
.updated{border-bottom:0}

.authorphoto{padding:0;width:80px;height:80px;border-radius:100%;vertical-align:middle;display:block;margin-bottom:5px}
.post-labels{padding: 2px 5px 2px 0;}
.clock,.post-labels,.post-labels a{display:block;}
.post-labels a{margin-left:20px;margin-top:5px;}
.post-labels svg+a{display:inline-block;margin-left:4px;margin-top:0}
.postmeta a{color:#555}
.clock svg{margin-right:4px}
.postmeta svg{width:16px;height:16px;vertical-align:-1px;display:inline;float:left}
.postmeta svg path{fill:#999}

.clear{clear:both;display:block}

p.att-javascript{font-size:150%;text-align:center}
.iklan-head{margin:30px auto;padding:0;text-align:center;width:100%}
.cookie-choices-info{border-bottom:1px solid #333;color:#555;z-index:1000000;background-color:#fff;border-top:1px solid #dedede;padding:3px 0;bottom:0;top:inherit}
.cookie-choices-info .cookie-choices-text{font-size:17px;color:#666;font-family:"Helvetica Neue Light",HelveticaNeue-Light,"Helvetica Neue",Calibri,Helvetica,Arial}
.cookie-choices-info .cookie-choices-button{background-color:#adbcc5;border-radius:5px;padding:5px 12px;text-transform:none;color:#000;transition:all .2s linear}
.cookie-choices-info .cookie-choices-button:nth-child(2){background-color:#f1d600}
.cookie-choices-info .cookie-choices-button:hover,.cookie-choices-info .cookie-choices-button:nth-child(2):hover{background-color:#e9eef0}
.main-menu-mobile ul li:first-child{border-top:none}
.main-menu-mobile ul li a:hover{color:#c10e0e}
.main-menu-mobile ul li{list-style:none;display:block;transition:all .4s ease-in-out;text-align:left;border-top:solid 1px #dedede}
.menu-wrapper-mobile{background:#fff;width:auto;padding:0 0 16px;margin:10px auto 0;border-top:1px solid #dedede;}
.main-menu-mobile,.main-menu-mobile ul{padding:0}
.main-menu-mobile{width:auto;height:auto;margin:0;font-size:16px;overflow:hidden;text-align:center}
#mobile-menu{display:none}
.main-menu-mobile ul{margin:0 auto;line-height:2.8em}
.main-menu-mobile ul li a{color:#141924;padding:0 15px;font-family:Roboto,Arial,sans-serif;font-size:16px;font-weight:500}
.menu,.mobile-menu-ikon{font-size:30px;cursor:pointer}
.mobile-menu-wrapper{display:none;visibility:hidden;margin:-5px 30px 0}

.main-menu ul li,.search-wrapper{position:relative}

.search-wrapper{height:30px;float:right;display:inline;padding:10px 0;margin-top:0}
.jump-link,.jump-link a,.tool-menu{display:none}
.main-menu ul li:before{content:'';height:4px;width:0;position:absolute;top:0;left:0;background:#c10e0e;transition:all .4s ease-out}
.main-menu ul li:hover:before{width:100%}
.main-menu ul li,.search-wrapper{position:relative}
.search-wrapper{float:right;display:inline;padding:0;margin-top:8px}
#search-box{position:absolute;right:0;top:-8px;padding:10px 0;background:#303840;}
#search-box form{position:relative}
#search-box .search-form:hover,#search-box .search-form:focus{background:#181b1d;outline:0;box-shadow:0 2px 7px rgba(0,0,0,.45);width:300px;padding:0 30px;}
#search-box .search-form{background:#181b1d;border:1px solid transparent;color:#ffffff;width:0;padding:0 10px 0 20px;height:26.67px;line-height:26.67px;font-family:Roboto,sans-serif;font-size:16px;font-weight:500;margin:0;border-radius:3px;transition: all 0.5s ease-in-out;}
#search-box .search-form{background-image:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:white' d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");background-repeat:no-repeat;background-size:20px 20px;background-position:5px 3px}
#search-box .search-form:focus,#search-box .search-form:hover{background-image:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='24' height='24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:gray' d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");background-repeat:no-repeat;background-size:20px 20px;background-position:5px 3px}
.resetbutton{background:0 0;border:none;position:absolute;top:4px;right:5px;padding:0;cursor:pointer;line-height:1;transition:all .4s ease-in-out;z-index:999}
.resetbutton svg{width:18px;height:18px;vertical-align:middle}
.resetbutton:focus{outline:0}
#search-box .search-form:not(:valid)~.resetbutton{display:none}

.overlay,.tool-menu{display:none}
.main-menu ul li:before{content:'';height:4px;width:0;position:absolute;top:0;left:0;background:#c10e0e;transition:all .4s ease-out}
.main-menu ul li:hover:before{width:100%}
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes slideInUp{0%{-webkit-transform:translateY(100%);transform:translateY(100%);visibility:visible}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slideInUp{0%{-webkit-transform:translateY(100%);transform:translateY(100%);visibility:visible}
100%{-webkit-transform:translateY(0);transform:translateY(0)}
}

.menu-tool{position:relative;float:right;width:auto;height:auto}
.menu-toolikon{width:220px;cursor:pointer;margin:8px -10px 0 0;text-align:right;background:none;border:none;padding-right:0}
.menu-toolikon svg{width:30px;height:30px}
.menu-toolikon .show-less svg{width:22px;height:22px;margin-top:5px}
.menu-tool section:not([expanded]) .show-less,.menu-tool section[expanded] .show-more{display:none}
.menu-tool section{position:absolute;top:0;right:0}
.tool-menu{background-color:#fff;border-radius:2px;box-shadow:0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);color:#757575;cursor:default;padding:0 0 15px;margin:0;min-width:220px;outline:0;position:absolute;top:8px;right:0;text-align:left;white-space:nowrap;z-index:100000}
.tool-menu ul{margin:0;padding:0}
.tool-menu li a,.tool-menu li span{text-decoration:none;color:#141924}
.tool-menu li a:hover{color:#c10e0e}
.tool-menu li{padding:10px 10px 5px}
.tool-menu li:first-child{padding:10px;margin-bottom:5px;border-bottom:1px solid #dedede}

#codes,#main-wrapper{word-wrap:break-word}
#outer-wrapper,.blockquote,pre{text-align:left}
#outer-wrapper{background:0;width:100%;margin:0;padding:0;border:none;border-radius:0}
.post{background:#fff;width:100%;overflow:hidden;margin:0;padding:0 30px 30px 0;border:1px solid #dedede;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.judul-box{position:relative;padding:0 0 0 13%;}
#judul-post{position:absolute;top:25%;left:50%;margin-left:-550px;padding:0;width:100%;max-width:1100px;}
.post h2{font-size:30px;font-weight:900;line-height:1.1em;text-align:center;margin:0 0 20px 30px;padding:30px 0;border-bottom:1px solid #dedede;}
.post h2 a{color:#333}

.creditpic{margin-bottom:-1px}
.post-upper{display:none}
.breadcrumbs{display:none}
.post-body{margin-top:22px}
.post-body a:active{position:relative;top:1px;left:1px}

.post-body a[href^="http://"],.post-body a[href^="https://"]{font-weight:500;color:#c10e0e}

.post-body a[href^="http://"]:after,.post-body a[href^="https://"]:after{content:'';background:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='16' height='16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:#c10e0e' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e")no-repeat;background-size: 16px 16px;width:16px;height:16px;display:inline-block;margin-left:3px;vertical-align:-2px}

.post-body .gist .gist-meta a[href^="https://"]:after,.post-body a[href^="http://threecilix.blogspot.com/"]:after,.post-body a[href^="https://twitter.com/intent/tweet"]:after,.post-body a.btn[href^="http://"]:after,.post-body a.btn[href^="https://"]:after{content:'';background:none;width:0;height:0;margin-left:0}

.post-body h1{font-size:28px;font-weight: 900;border:none;margin:0;padding:0;color:#333;display:block;width:100%;float:none;line-height:1.2em}
.post-body h2{font-size:23px;font-weight: 900;border-bottom:none;margin:0;padding:0;display:block;width:100%;line-height:1.2em}
.post-body h3{font-size:19px;font-weight: 900;color:#333;margin:0;padding:0;display:block;width:100%;line-height:1.2em;}
.post-body h4,.post-body h5,.post-body h6{font-size:16px;font-weight: 900;margin:0;padding:0;color:#333;display:block;width:100%;line-height:1.2em;}

h2.sharetitle{display:block;float:left;font-size:18px;margin-top:15px;font-weight:500;line-height:1.4em}
.sharethis a.url{text-decoration:none;display:inline-block;margin-top:5px;font-size:16px;font-weight:500;border-radius:3px;color:#333;background:#f8f8f8;border:1px solid #ccc;box-shadow:0 1px 0 rgba(0,0,0,.08);text-shadow:none;line-height:1;padding:3px 8px;transition:all .4s ease-in-out}
.sharethis a.url:hover{color:#555;background:#fafafa;border:1px solid #999}
.sharethis a.url:active{box-shadow:inset 0 1px 0 rgba(0,0,0,.16)}
.banner-ataspost,.iklan-kecilatas,.iklan-komentar,.parser{text-align:center}

.disqus-comments{display:none}

hr{height:0;border:0;border-top:1px solid #ddd}
kbd{-moz-border-radius:3px;-moz-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;-webkit-border-radius:3px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;background-color:#f7f7f7;border:1px solid #ccc;border-radius:3px;box-shadow:0 1px 0 rgba(0,0,0,.2),0 0 0 2px #fff inset;color:#333;display:inline-block;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:1.4;margin:0 .1em;padding:.1em .6em;text-shadow:0 1px 0 #fff}
a.btn-default{color:#333}
a.btn-primary,a.btn-success,a.btn-info,a.btn-warning,a.btn-danger{color:#fff}
.btn,.btn:active{background-image:none}
.parser,.btn,.btn-link{font-weight:400}
.comment_form>a,.comments .paging-control-container .paging-control,.parser,.btn{display:inline-block;padding:6px 12px;margin-bottom:5px;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;border:1px solid transparent;border-radius:4px}
.comment_form>a:active:focus,.comment_form>a:focus,.comments .paging-control-container .paging-control:active:focus,.comments .paging-control-container .paging-control:focus,.parser:active:focus,.parser:focus,.btn:active:focus,.btn:focus{outline:0;}
.btn:focus,.btn:hover{color:#333;text-decoration:none;outline:0;}
.btn:active{outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn-default{color:#333;background-color:#fff;border-color:#ccc}
.btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c}
.btn-default:active,.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad}
.comments .paging-control-container .paging-control,.parser,.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
.button-group button:disabled,.comments .paging-control-container .paging-control:focus,.parser:focus,.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40}
.comments .paging-control-container .paging-control:active,.comments .paging-control-container .paging-control:hover,.parser:active,.parser:hover,.btn-primary:active,.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}
.btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625}
.btn-success:active,.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}
.btn-info{color:#fff;background-color:#5bc0de;border-color:#46b8da}
.btn-info:focus{color:#fff;background-color:#31b0d5;border-color:#1b6d85}
.btn-info:active,.btn-info:hover{color:#fff;background-color:#31b0d5;border-color:#269abc}
.comment_form>a,.btn-warning{color:#fff;background-color:#f0ad4e;border-color:#eea236}
.comment_form>a:focus,.btn-warning:focus{color:#fff;background-color:#ec971f;border-color:#985f0d}
.comment_form>a:active,.comment_form>a:hover,.btn-warning:active,.btn-warning:hover{color:#fff;background-color:#ec971f;border-color:#d58512}
.btn-danger{color:#fff;background-color:#d9534f;border-color:#d43f3a}
.btn-danger:focus{color:#fff;background-color:#c9302c;border-color:#761c19}
.btn-danger:active,.btn-danger:hover{color:#fff;background-color:#c9302c;border-color:#ac2925}
.btn-link{color:#337ab7;border-radius:0}
.btn-link,.btn-link:active{background-color:transparent;-webkit-box-shadow:none;box-shadow:none}
.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover{border-color:transparent}
.btn-link:focus,.btn-link:hover{color:#23527c;text-decoration:underline;background-color:transparent}
.comment_form>a,.btn-lg{padding:10px 16px;font-size:18px;line-height:1.3333333;border-radius:6px}
.parser,.btn-sm,.btn-xs{font-size:12px;line-height:1.5;border-radius:3px}
.btn-sm{padding:5px 10px}
.comments .paging-control-container .paging-control,.parser,.btn-xs{padding:1px 5px}
.comment_form>a,.btn-block{display:block;width:100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.btn-block+.btn-block{margin-top:5px}
.comment_form>a+a{padding:0;margin-bottom:0;background-color:#fff;border-color:#fff}

.thanks_message h2{color:#333}
.thanks_layout{text-align: center; position: fixed; top:0; left:0; bottom:0; right:0; background:rgba(0,0,0,.8);z-index:99999}
.thanks_message{width:50%;background:#fff;border-radius:5px;padding:20px;border:1px solid transparent;text-align: center; color:#333; position: absolute; top: 10%; left: 50%;margin-left:-25%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
@media screen and (max-width:768px){.thanks_message{width:90%;margin-left:-45%;}
}

#sidebar-kanan,#sidebar-wrapper{display:none}
.float-left{float:left;margin-right:10px}

.contact-box{margin-top:10px}
.contact-box svg{width:24px;height:24px;vertical-align:-6px;margin-right:5px}
.contact-box svg path{fill:#444}
.contact-box .bbm svg{width:20px;height:20px;vertical-align:-5px;margin-right:5px}
.post-body .contact-me a{color:#444;font-weight:300}
.post-body .contact-me a[href^="http://"]:after,.post-body .contact-me a[href^="https://"]:after{content:"";background:url("data:image/svg+xml;charset=utf8,%3csvg viewBox='0 0 24 24' width='16' height='16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpath style='fill:#444' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z'%3e%3c/path%3e%3c/g%3e%3c/svg%3e") no-repeat;background-size:16px 16px;width:16px;height:16px;display:inline-block;margin-left:3px;vertical-align:-2px}
.contact-me{display:block}
.contact-me span{-webkit-user-select:all;-moz-user-select:all;-ms-user-select:all;user-select:all}
.contact-me amp-accordion h5 span{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.contact-box .map,.contact-box .bbm{position:relative;padding-left:29px}
.contact-box .bbm .barcode-bbm{margin:10px 0;width:300px}
.contact-box .bbm span span{font-weight:300}
.contact-box .map svg{position:absolute;top:0;left:0}
.contact-box .bbm svg{position:absolute;top:4px;left:0}
.contact-box amp-accordion section:not([expanded]) .show-less,.contact-box amp-accordion section[expanded] .show-more{display:none}
.contact-box amp-accordion h5{background:none;border:none;color:#444;font-weight:500;font-size:18px;margin:0;padding:0;text-align:left;}

.img-center{text-align:center;margin:0 auto;}
.img-left{clear:left;float:left;margin-bottom:1em;margin-right:1em;text-align:center;}
.img-right{clear:right;float:right;margin-bottom:1em;margin-left:1em;text-align:center;}
.img-width-300,.img-width-400,.img-width-500,.img-width-600{width:100%;text-align:center;clear:both}
.img-width-300{max-width:300px;}
.img-width-400{max-width:400px;}
.img-width-500{max-width:500px;}
.img-width-600{max-width:600px;}
@media screen and (max-width:640px){
.img-width-500.img-left,.img-width-500.img-right,.img-width-600.img-left,.img-width-600.img-right{clear:both;float:none;margin:1em auto;text-align:center;}
}
@media screen and (max-width:414px){
.img-width-300.img-left,.img-width-300.img-right,.img-width-400.img-left,.img-width-400.img-right{clear:both;float:none;margin:1em auto;text-align:center;}
}

@media screen and (max-width:1024px){#header-wrapper{margin:-4px 10px 0 0;}
.judul-box{padding:0 0 0 14%;}
.bungkus-judulblog{padding:0 30px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.menu-wrapper{padding:0 30px;}
.post{border-right:none;border-left:none;border-radius:0}
}
@media screen and (max-width:960px){
.bungkus-judulblog, .menu-wrapper{padding:0 20px;}
.post{padding:0 20px 20px 0;}
.post h2{margin: 0 0 20px 20px;}
.judul-box{padding:0 0 0 20px;}
.foto{width:25px;height:25px;display:inline-block;float:left;margin:0 10px 0 0}
.foto amp-img.authorphoto{width:25px;height:25px;padding:0;border-radius:100%;margin:3px 0 0 0}
.postmeta{position:relative;top:0;left:0;padding:0;color:#333;line-height:25px}
.clock{display:inline-block;}
}
@media screen and (max-width:800px){.bungkus-judulblog{position:relative;padding:0}
.menu-wrapper{margin:0 auto;height:auto}
.menu-wrapper:after{content:'';clear:both;display:block}
.profil-description{height:auto}
#outer-wrapper{margin-top:0}
.post{padding:0 20px 20px 0;}
#judul-post{position:relative;max-width:100%;margin-left:0;top:0;left:0}
.judul-box{padding:0 0 0 20px;}
#header-wrapper,.search-wrapper{text-align:center}
.page-menu{width:100%;margin:0 0 10px}
.page-menu ul li{width:33.3%;float:left}
#header-wrapper{width:100%;float:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:20px 0 10px}
.page-menu ul li a{margin:0 auto;padding:0}
.sos-profil ul{width:auto;display:inline-block;float:none;margin:0 auto;padding:0}
.sos-profil li{margin:0 5px}
.search-wrapper{margin-top:0;display:block;float:none;clear:both;height:auto}
.sos-profil{margin-top:0;display:block;float:none;clear:both;width:auto;padding:15px 0 15px 10px;text-align:left}
.mobile-menu-wrapper{display:block;visibility:visible;text-align:right}
.main-menu ul,.page-menu ul li{text-align:center}
.main-menu ul{width:100%;height:auto;line-height:2.3em}
#search-box{top:0;right:20px;padding:15px 0}
.footer1,.footer2,.footer3,.footer4{display:none}
#footer-wrapper .content-wrapper{padding:0 15px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:20px 0 10px}
.contact-box amp-iframe{height:600px}
}
@media screen and (max-width:414px){.post h2 {margin: 0 0 10px 10px;padding:0 0 10px;}
body{background:#fff}
#main-wrapper{padding: 0;border:none}
.post{padding: 0 10px 0 0;border:none}
.judul-box{padding:0 0 0 10px;}
.post-body{margin-top:10px;}
.page-menu ul{line-height:2em}
.mobile-menu-wrapper{margin:-5px 10px 0}
.contact-box amp-iframe{height:550px}
.contact-box .bbm .barcode-bbm{width:100%}
}
@media screen and (max-width:320px){.post h2{font-size:18px}
.main-menu{font-size:100%}
.sos-profil a{font-size:20px}
.mobile-menu-wrapper{margin:-5px 10px 0}
.creditpic{padding:20px 0 30px}
}
@media screen and (max-width:240px){.post h2{font-size:16px}
.page-menu ul li{width:50%}
.main-menu ul li{width:100%}
.sos-profil a{font-size:18px}
.sos-profil li{margin:0 2px}
}
@media print{#blog-pager,#comments,#css-menu,#footer-wrapper,#sidebar-kanan,.blog-pager,.blogger-bar,.blogger-box,.breadcrumbs,.bungkus-judulblog,.comment-text,.disqus-bar,.disqus-box,.don-share,.donate,.facebook-bar,.facebook-box,.halaman,.iklan-kecilatas,.threecilix_info2,.link-bawahpost,.loading-shorturl,.menu-wrapper,.onpost,.postmeta,.related-post,.sharetitle,.shorturls,.underpost,h3.date-header{display:none}
#main-wrapper{width:100%;margin:0;padding:0;border:0}
.post-body{padding:0}
}
/*]]>*/
</style>
